     .capgeminiColorBlueDark{
        background-color: #0071AD;
        color: white;
     }
     
     .capgeminiColorBlueLight{
      background: rgb(4,157,191);
	  background-color: linear-gradient(90deg, rgba(4,157,191,1) 0%, rgba(3,120,166,1) 58%, rgba(0,212,255,1) 100%);
        
     }
     .capgeminiColorBlueLight{
      background: rgb(4,157,191);
	  background-color: linear-gradient(90deg, rgba(4,157,191,1) 0%, rgba(3,120,166,1) 58%, rgba(0,212,255,1) 100%);
        
     }
      .degrade{
   	 background: rgb(4,157,191);
		background-color: radial-gradient(circle, rgba(4,157,191,1) 0%, rgba(3,120,166,1) 66%, rgba(0,212,255,1) 100%);
	        
     }
     .yellowbg{
      background-color: #FFFACD;
      color: white;
  
     } 
     .smokebg{
      background-color:#F5F5F5;
      color: white;
  
     }
     
     